h1,
h2,
h3,
h4,
h5,
h6
    color: $text-color
    font:
        // family: 'Roboto Light'
        family: 'Oswald Light'
        weight: 400

h1
    font-size: 5.4rem

    &.home-h1
        margin-bottom: 3 * $spacer

h2
    font-size: 4.8rem
    margin-bottom: 6 * $spacer

.home-service
    margin-bottom: 4rem

.service-title
    font-size: 3rem
    margin-bottom: 2rem

p
    font:
        family: 'Roboto'
        size: 1.8rem
    line-height: 2
    line-height: 1.6

    &.intro
        margin-bottom: 3 * $spacer

    &.service-text
